<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<body>
<form action="" method="get"><table width="328" border="1">
  <tr>
    <td width="145">Station Name</td>
    <td width="187"><label for="Station Name"></label>
      <input type="text" name="Station Name" placeholder="Enter Police Station Name" id="Station Name" /></td>
  </tr>
  <tr>
    <td>Place</td>
    <td><label for="Place"></label>
      <input type="text" name="Place" placeholder="Enter Police Station Place" id="Place" /></td>
  </tr>
  <tr>
    <td>Phone</td>
    <td><label for="Phone"></label>
      <input type="tel" name="Phone" id="Phone"placeholder="Enter Police Station Phone" /></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><label for="Email"></label>
      <input type="email" name="Email" id="Email" placeholder="Enter Police Station Email" /></td>
  </tr>
  <tr>
    <td>Zone</td>
    <td><label for="Zone"></label>
      <select name="Zone" id="Zone">
      <option  value="Select_Station_Zone" disabled selected>Select Station Zone</option>
      <option  value="South Zone">South Zone</option>
      <option  value="North Zone">North Zone</option>
      </select></td>
  </tr>
  <tr>
    <td>Range</td>
    <td><label for="Range"></label>
      <select name="Range" id="Range" disabled>
      <option value="Select Station Range" disabled selected>Select Station Range</option>
      <option group="South Zone" value="Ernamkulam Range">Ernamkulam Range</option>
      <option group="North Zone" value="Kannur Range">Kannur Range</option>
      <option group="North Zone" value="Thrissur Range">Thrissur Range</option>
      <option group="South Zone" value="Trivandrum Range">Trivandrum Range</option>
      </select></td>
  </tr>
  <tr>
    <td>Police District</td>
    <td><label for="Police District"></label>
      <select name="Police District" id="Police District">
      <option value="" disabled selected>Select Station District</option>
      <option value="Alappuzha">Alappuzha</option>
      <option value="Ernamkulam City">Ernamkulam City</option>
      <option value="Ernamkulam Rural">Ernamkulam Rural</option>
      <option value="Idukki">Idukki</option>
      <option value="Palakkad">Palakkad</option>
      <option value="Kannur">Kannur</option>
      <option value="Kasaragod">Kasaragod</option>
      <option value="Kollam City">Kollam City</option>
      <option value="Kollam Rural">Kollam Rural</option>
      <option value="Kottayam">Kottayam</option>
      <option value="Kozhikode City">Kozhikode City</option>
      <option value="Kozhikode Rural">Kozhikode Rural</option>
      <option value="Malappuram">Malappuram</option>
      <option value="Pathanamthitta">Pathanamthitta</option>
      <option value="Thrissur City">Thrissur City</option>
      <option value="Thrissur Rural">Thrissur Rural</option>
      <option value="Trivananthapuram City">Trivananthapuram City</option>
      <option value="Trivananthapuram Rural">Trivananthapuram Rural</option>
      <option value="Wayanad">Wayanad</option>
      </select></td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" name="Add" id="Add" value="Add" /></td>
    </tr>
</table>
</form>
</body>

{#<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>#}
<script type="text/javascript" src="/static/jquery.js">
$(function(){
    $('#Zone').on('change', function(){
        var val = $(this).val();
        var sub = $('#Range');
        if(val !== 'Select_Station_Zone') {
         document.getElementById("Range").disabled=false;
            sub.find('option').not(':first').hide();
            $('option', sub).filter(function(){
                if($(this).attr('group') == val){
                    $(this).show();
                }
            });
        }
        sub.val(0);
    });
});
    </script>




</html>

