<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<body>
<form action="" method="get">
<table width="951" border="1">
  <tr>
    <td width="943">
    <input name="search" type="text" value="search" size=55/>
    <input name="search" type="submit" value="search"/>
    </td>
  </tr>
</table>

 
<table width="859" border="1">
  <tr>
    <td width="40" height="43">sl no</td>
    <td width="140">Date</td>
    <td width="581">Notification</td>
    <td width="88">&nbsp;</td>
  </tr>
  <tr>
    <td height="40">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#">Delete</a></td>
  </tr>
</table>
</form>
</body>
</html>
