<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="435" height="500" border="1">
    <tr>
      <td colspan="2">   <input type="image" name="ph" id="ph" src="ph" />
      <input type="image" name="Photo2" id="Photo2" src="Photo2" />
      <input type="image" name="Photo3" id="Photo3" src="Photo3" /></td>
    </tr>
    <tr>
      <td width="139">Name</td>
      <td width="280">&nbsp;</td>
    </tr>
    <tr>
      <td>Adhar Number</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Employee Type</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>ID Proof</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Contact Number</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" name="back" id="back" value="back" />
      </td>
    </tr>
  </table>
</form>
</body>
</html>
